header {
    font-family: $fuente-parrafos;
    background-color: $color-principal;

    .encabezado {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    .responsive {
        display: none;
    }
    .contenedor {
        background-image: url("../imagenes/menu imagen.jpg");
        min-height: 50%;
        min-width: 100%;
        background-size: cover;
        background-position: bottom;
        padding: 50px ;
        width: 100%;
        height: 100%;
    }
    nav {
        background-color: rgba(255, 255, 255, 0.30);
        padding-top: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
       
        }
    
    .logo img{
        display: flex;
        position: relative;
        height: 200px;
    }    
    nav ul {
        
        display:flex;
        list-style: none;
        font-size: 10px;
        letter-spacing: 1px;
        
    }
    nav ul li a{
        
        color: black;
        text-transform: uppercase;
        padding: 10px;
        text-decoration:none;
        border: solid 1px black;
        border-radius: 5px;
        margin: 1rem;
        
    }
    .open, 
    .close {
        display: none;
    }
    nav ul li a:hover {
        color: white;
        background: black;
        text-decoration: none;
    }
    .d-block { 
        height: auto;  
    } 
 
    .covid19 {
        min-height: 50%;
        min-width: 100%;
        background-size: cover;
        background-position: center; 
    }
}
