.menu-inferior {
    display: flex;
    background-color: unset;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center; 

ul li a  {
    color: black;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    border: 10px;
    border-radius: 5px;
    margin: 5rem;
    background:none;
    
}
a {
    width: 10px;
    height: 10px;    
}
ul li a:hover {
    
        background: white ;
        text-decoration: none;
}
}