.redes {
    background: #a6c48a;
    display: flex;
    justify-content: center;

h1 {
    box-align: top center;
}
img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
}
}