.subir {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: .6;

img {
    width: 44px;
    height: 44px;
}
.subir:hover {
    opacity: 1;
    color: green;
}
}