.whatsapp {
    display: inline-block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 50px;
    animation-duration: 5s;
    animation-delay: 5s;
}
.whatsapp img {
    width: 70px;
    height: 50px;
}