/***** MOBILE *****/
@media (max-width: 768px) {
    .row {
        display: flex;
    }
    .contacto p {
        display: none;
        font-size: 14px;
        margin: 0;
    }

    header {
    .responsive {
        background: #dd9787;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
    
    .contenedor {
        display: none;
    }
    .d-block { 
        height: auto;  
    } 
    }
    .nuestra-historia {
        padding: 0 0;
    }
    section h2 {
        display: flex;
        justify-content: center;
        font-size: 40px;
        text-align: center;    
    }
    section h3 {
        font-size: 16px;
    }
    form .novedades div {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .novedades {
        background: #A6C48A;
        padding: 1px 0 2px;
        border: solid 1px #a6c48a;
        width: 100%;
        margin: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
    div {
        width: 100%;
        padding: 2px;
    }
    }
    .contacto {
        display: inline;
    }
    .menu-inferior {
        display: none;
        position: absolute;
        top: 10px;
    }
    div .menu-inferior {
        display: none;
        flex-direction: column;
    }
    .menu-mobile {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 12px;
    }
    .menu-mobile  a.nav-link  {
        margin: 2px;
        background-color: black;
        color: white;
    }
    .menu-mobile .nav-pills .nav-link.active  {
        margin: 2px;
        background-color:white;
        color: black;
        font-weight: bold;
    }
    section h2::after{
        display: none;
    }
    .promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
    .imagenes img {
    height: 200px;
    width: 200px;
    }
    .donde-encontrarnos {
       display: none;
    }
    .mapa {
        display: none;
    }
    .envio {
        padding: 0px;
    }
    form.formulario {
        padding: 0px;
        margin: 0px;
    }
    .receta {
        display: grid;
        grid-template-columns: 1fr;
        width: unset;
        
        ul li {
            text-align: left;
            list-style: none;
            text-decoration: none;
        }
        img {
            width: 300px;
            height: 300px;
        }
       
        p, h2, h4 {
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
        
            text-align: unset;
        }
        h2 {
         font-size: 30px;   
        }
    }
    .titulo {
        text-align: center;
        grid-area: 1 / 1 / 1 / 1;
    }
    .ingredientes {
        text-align: center;
        grid-area: 2 / 1 / 3 / 1;
        
    }       
    .preparacion {
        grid-area: 6 /1 / 7 / 1 ;
       
    
    }
    .blog {
        width: 50px;
    }
    .video {
        grid-area: 5 /1 / 4/ 1;
        justify-content: left;
        margin: 3px 3px;
        iframe {
        width: 100%;
        height: 254px;
        }
    }
}