@media (min-width: 769px) and (max-width: 1199px) {
    .row {
        display: flex;
    }
    .contacto p {
        display: none;
        font-size: 14px;
        margin: 0;
    }

    header .responsive {
        background: #dd9787;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            display: block;
            width: 200px;
            height: 133px;
        }

    }
    header .contenedor {
        display: none;
    }
    
    .nuestra-historia {
        padding: 0 0;
    }
    section h2 {
        display: flex;
        justify-content: center;
        font-size: 40px;
        text-align: center;
    }
    section h3 {
        font-size: 16px;
    }
    form input {
        width: 10rem;
    } 
    .novedades {
        background: #A6C48A;
        padding: 1px 0 2px;
        border: solid 1px #a6c48a;
        width: 100%;
        margin: 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    h2::after {
        display: none;
    }
    .novedades div {
        width: 100%;
        padding: 2px;
    }
    .contacto {
        display: inline;
    }
    .menu-mobile {
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        font-size: 12px;

         .btn-secondary {
        margin: 2px 4px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        font-size: 14px;
        }
        .dropdown-item {
            width: unset;
            margin: 2px;
            background-color:white;
            font-size: 12px;
            color: black;
            font-weight: bold;
        }
        .dropdown-item1 {
        display: block;
        text-align: inherit;
        margin: 2px;
        background-color: black;
        font-size: 12px;
        color: white;
        font-weight: bold;
        padding: .25rem 1.5rem;

        }    

    }
   
    .menu-mobile .nav-pills .nav-link.active  {
        margin: 2px;
        background-color:white;
        color: black;
        font-weight: bold;
    }
    section h2::after{
        display: none;
    } 
    ol.carousel-indicators {
        margin-bottom: 0px;
    }
    .promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
    .imagenes img {
    height: 200px;
    width: 200px;
    }
    .donde-encontrarnos {
       display: none;
    }
    .mapa {
        display: none;
    }
    .envio {
        padding: 0px;
    }
    form.formulario {
        padding: 0px;
        margin: 0px;
    }
    .video {
        grid-area: 5 /1 / 4/ 1;
        justify-content: left;
        margin: 3px 3px;
        iframe {
        width: 100%;
        height: 254px;
        }
    }
}